*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: sans-serif;
}
body{
    background-color: rgb(110, 110, 110);
}

.principal{
    background-color: rgb(189, 189, 189);
    width: 600px;
    height: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.7);
}
h1{
    font-size: 2em;
    color: cornflowerblue;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
}
.valor{
    width: 150px;
    height: 40px;
    text-align: center;
    outline: none;
    border: 1px solid cornflowerblue;
    border-radius: 10px;
    font-size: 1.3em;
}
.botao-resultado{
    width: 130px;
    height: 50px;
    background-color: cornflowerblue;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.3em;
    cursor: pointer;
}
.resultado{
    width: 300px;
    padding: 10px;
    border: 1px solid cornflowerblue;
    background-color: rgb(255, 255, 255);
    color: cornflowerblue;
    text-align: center;
    font-size: bolder;
    font-size: 1.1em;
    border-radius: 10px;
}