*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: sans-serif;
}
/*cores*/
:root{
    --azul-escuro: #0b3954;
    --azul-claro: #4faadc;
    --verde-claro: #48ca48;
    --cinza-claro: #e5e5e5;
    --branco: #ffffff;
}
body{
    background-color: var(--cinza-claro);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.principal{
    background-color: var(--azul-escuro);
    width: 70vw;
    height: 500px;
    padding: 20px 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.7);
}
.box{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

h1{
    font-size: 2em;
    color: var(--branco);
    grid-column: span 2;
    text-align: center;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.itens{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    
}
h3{
    color: var(--branco);
    text-align: center;
}
h3 > span{
    font-size: 11px;
}

.valor{
    width: 150px;
    height: 50px;
    text-align: center;
    outline: none;
    border: 1px solid var(--azul-claro);
    border-radius: 10px;
    font-size: 1.3em;
}
.botao-resultado{
    width: 150px;
    height: 50px;
    background-color: var(--verde-claro);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.3em;
    cursor: pointer;
    
}
.resultado{
    width: 300px;
    height: 300px;  
    padding: 10px;
    border: 1px solid var(--azul-claro);
    background-color: var(--branco);
    color: black;
    text-align: center;
    font-size: bolder;
    font-size: 1.1em;
    border-radius: 10px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.caixa-dinheiro{
    width: 80%
}
.dinheiro{
    width: 100%;
    height: 50px;
    background-color: var(--cinza-claro);
    border-radius: 5px;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}
h4{
    font-size: 12px;
    text-align: center;
    color: var(--cinza-claro)
}
.caixa{
    width: 80%;
    text-align: start;
    color: var(--azul-escuro);
}

.autor{
    color: var(--azul-escuro);
    text-align: end;
}


@media only screen and  (max-width: 788px){
    .principal{
        display: flex;
        flex-direction: column;
        width: 90vw;
    }
}
